language: shell
if: commit_message =~ /\[build\]/

jobs:
  include:
    - name: PyInstaller Build - Mac
      os: osx
      osx_image: xcode11
      before_install: 
        - pip3 install --upgrade pipenv
      
    - name: PyInstaller Build - Windows 32 bit
      os: windows
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
      before_install: 
        - choco install python --version 3.7.6 --forcex86
        - pip3 install --upgrade shovel

    - name: PyInstaller Build - Windows 64 bit
      os: windows
      language: shell
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
      before_install: 
        - choco install python --version 3.7.6
        - pip3 install --upgrade shovel

install: shovel app.installDeps

before_script: shovel app.buildAppDebug

script: shovel app.runAppDebug

after_failure: travis_terminate 1

after_success: shovel app.cleanAppDebug
