language: python
if: commit_message =~ /\[build\]/

jobs:

  include:

    - name: PyInstaller Build - Mac
      os: osx
      osx_image: xcode11
      language: shell
      before_install: 
        - pip3 install --upgrade --user virtualenv
        - python3 -m virtualenv buildenv
      
    - name: PyInstaller Build - Windows 32 bit
      os: windows
      language: shell
      env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
      before_install: 
        - choco install python --version 3.9.0 --forcex86
        - pip3 install --upgrade --user virtualenv
        - python -m virtualenv buildenv

    - name: PyInstaller Build - Windows 64 bit
      os: windows
      language: shell
      env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
      before_install: 
        - choco install python --version 3.9.0 --forcex86
        - pip3 install --upgrade --user virtualenv
        - python -m virtualenv buildenv

install:
  - source buildenv/bin/activate || source buildenv/Scripts/activate
  - pip3 install --upgrade --user PyInstaller
  - pip3 install --upgrade --user -r requirements.txt

before_script:
  - source buildenv/bin/activate || source buildenv/Scripts/activate
  - cp main.py .test/main.py
  - cp fileio.py .test/fileio.py
  - cp settings.py .test/settings.py
  - cp main.qml .test/main.qml
  - cp settings.toml .test/settings.toml
  - cp -r icons .test/icons
  - PyInstaller .test/JNote.spec

script: dist/JNote/JNote

after_failure: travis_terminate 1

after_success:
  - rm -rdv dist/JNote
