language: python

jobs:

  include:

    - name: "PyInstaller Build - Linux"
      python: 3.8
      install: 
        - pip3 install --upgrade PyInstaller
        - pip3 install --upgrade -r requirements.txt
      before_script: python3 -m PyInstaller JNote-Test.spec
      script: dist/JNote/JNote

    - name: "PyInstaller Build - Mac"
      os: osx
      osx_image: xcode11
      language: shell
      install: 
        - pip3 install --upgrade --user PyInstaller
        - pip3 install --upgrade --user -r requirements.txt
      before_script: python3 -m PyInstaller JNote-Test.spec
      script: 
        - ls -l -a dist
        - ls -l -a dist/JNote

    - name: "PyInstaller Build - Windows 32 bit"
      os: windows
      language: shell
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      before_install:
        - choco install python --version 3.8.0 --forcex86
        - choco install upx
      install: 
        - pip3 install --upgrade PyInstaller
        - pip3 install --upgrade -r requirements.txt
      before_script: 
        - python -m PyInstaller JNote-Test.spec
        - python compres.py dist/JNote --level 9 --verbose --upx-path upx
      script: dist/JNote/JNote

    - name: "PyInstaller Build - Windows 64 bit"
      os: windows
      language: shell
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      before_install:
        - choco install python --version 3.8.0
        - choco install upx
      install: 
        - pip3 install --upgrade PyInstaller
        - pip3 install --upgrade -r requirements.txt
      before_script: 
        - python -m PyInstaller JNote-Test.spec
        - python compres.py dist/JNote --level 9 --verbose --upx-path upx
      script: dist/JNote/JNote
