[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
PyInstaller = "4.0"
macholib = {version = "1.14", sys_platform = "== 'darwin'"}
flake8 = "*"
recommonmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-markdown-tables = "*"
sphinx-sitemap = "*"
rope = "*"
autopep8 = "*"

[packages]
toml = "*"
py-gfm = "*"
cchardet = "*"
chardet = "*"
requests = "*"
binaryornot = "*"
version-parser = "*"
PyQt5 = "5.15"
Markdown = "*"

[requires]
python_version = "3.7"
